<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>姿势分析</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.1.2/dist/echarts.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          crossorigin="anonymous">
    <link href="../static/css/pose.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
</head>
<body>
<nav class="navbar bg-primary" style="width: 100%; height: 8%;">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">
      <img src="../static/img/basketball-icon.jpg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      投篮全身姿势分析
    </a>
      <div data-bs-theme="dark">
        <button type="button" class="btn-close" aria-label="Close" id="closeBtn"></button>
      </div>
  </div>
</nav>
<div class="container-fluid bg-light" style="width: 100%;">
    <div class="modal fade modal-xl" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
       <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-header">
                   <h1 class="modal-title fs-5" id="exampleModalToggleLabel">手部姿态对比</h1>
                   <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <div class="row">
                      <div class="col-6">
                            <div class="card custom-card-border" style="width: 100%; height: 100%;">
                                <div class="card-body">
                                    <h5 class="card-title">实时手部姿态</h5>
                                    <div class="underline bg-primary-subtle"></div>
                                </div>
                    <!--            <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; height: 100%;">-->
                    <!--                <img id="video" src="{{ url_for('video_feed') }}" class="card-img-top" style="width: 100%; height:100%; object-fit:contain;">-->
                    <!--            </div>-->
                                <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; height: 100%;">
                                    <video id="realhandvideo" class="card-img-top" style="width: 100%; height:100%; object-fit:contain;" controls></video>
                                    <div style="display: flex;width: 100%; justify-content: center;">
                                        <div class="btn-group">
                                          <button id="realhandspeed" type="button" class="btn btn-primary dropdown-toggle" style="margin:20px;" data-bs-toggle="dropdown" aria-expanded="false">
                                              1倍速
                                          </button>
                                          <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#" handdata-speed="1">1倍速</a></li>
                                                <li><a class="dropdown-item" href="#" handdata-speed="0.7">0.7倍速</a></li>
                                                <li><a class="dropdown-item" href="#" handdata-speed="0.5">0.5倍速</a></li>
                                                <li><a class="dropdown-item" href="#" handdata-speed="0.3">0.3倍速</a></li>
                                                <li><a class="dropdown-item" href="#" handdata-speed="0.1">0.1倍速</a></li>
                                          </ul>
                                        </div>
                                        <button id="handtogetherplay" onclick="handtogetherplay()" class="btn btn-primary" style="margin:20px;">同时播放</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                      <div class="col-6">
                            <div class="card custom-card-border" style="width: 100%; height: 100%;">
                                <div class="card-body">
                                    <h5 class="card-title">标准手部姿态</h5>
                                    <div class="underline bg-primary-subtle"></div>
                                </div>
                    <!--            <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; height: 100%;">-->
                    <!--                <img id="video" src="{{ url_for('video_feed') }}" class="card-img-top" style="width: 100%; height:100%; object-fit:contain;">-->
                    <!--            </div>-->
                                <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; height: 100%;">
                                    <video id="stdhandvideo" class="card-img-top" style="width: 100%; height:100%; object-fit:contain;" controls></video>
                                    <div style="display: flex;width: 100%; justify-content: center;">
                                        <div class="btn-group">
                                          <button id="stdhandspeed" type="button" class="btn btn-primary dropdown-toggle" style="margin:20px;" data-bs-toggle="dropdown" aria-expanded="false">
                                              1倍速
                                          </button>
                                          <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#" stdhanddata-speed="1">1倍速</a></li>
                                                <li><a class="dropdown-item" href="#" stdhanddata-speed="0.7">0.7倍速</a></li>
                                                <li><a class="dropdown-item" href="#" stdhanddata-speed="0.5">0.5倍速</a></li>
                                                <li><a class="dropdown-item" href="#" stdhanddata-speed="0.3">0.3倍速</a></li>
                                                <li><a class="dropdown-item" href="#" stdhanddata-speed="0.1">0.1倍速</a></li>
                                          </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                  </div>
              </div>
<!--              <div class="modal-footer">-->
<!--                    <button class="btn btn-primary">确定</button>-->
<!--              </div>-->
          </div>
       </div>
    </div>

  <div class="row" style="padding: 20px; width: 100%; height: 900px;">
      <div class="col-8">
        <div class="card custom-card-border" style="width: 100%; height: 100%;">
            <div class="card-body">
                <h5 class="card-title">实时分析</h5>
                <div class="underline bg-primary-subtle"></div>
            </div>
<!--            <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; height: 100%;">-->
<!--                <img id="video" src="{{ url_for('video_feed') }}" class="card-img-top" style="width: 100%; height:100%; object-fit:contain;">-->
<!--            </div>-->
            <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; height: 100%;">
                <img id="video" src="{{ url_for('video_feed') }}" class="card-img-top" style="width: 100%; height:100%; object-fit:contain;">
                <video id="resultvideo" class="card-img-top" style="width: 100%; height:100%; object-fit:contain; display: none;" controls></video>
                <div style="display: flex;width: 100%; justify-content: center;">
                    <button id="realreplay" onclick="showVideo()" class="btn btn-primary" style="margin:20px;" disabled>读取视频结果</button>
<!--                    <button id="realplay" onclick="playVideo()" class="btn btn-primary" style="margin-left:20px;" disabled>-->
<!--                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">-->
<!--                            <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>-->
<!--                        </svg>-->
<!--                    </button>-->
<!--                    <button id="realstop" onclick="stopVideo()" class="btn btn-primary" style="margin-left:20px;" disabled>-->
<!--                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pause-fill" viewBox="0 0 16 16">-->
<!--                            <path d="M5.5 3.5A1.5 1.5 0 0 1 7 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5zm5 0A1.5 1.5 0 0 1 12 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5z"/>-->
<!--                        </svg>-->
<!--                    </button>-->
                    <div class="btn-group">
                      <button id="realspeed" type="button" class="btn btn-primary dropdown-toggle" style="margin:20px;" data-bs-toggle="dropdown" aria-expanded="false" disabled>
                          1倍速
                      </button>
                      <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" data-speed="1">1倍速</a></li>
                            <li><a class="dropdown-item" href="#" data-speed="0.7">0.7倍速</a></li>
                            <li><a class="dropdown-item" href="#" data-speed="0.5">0.5倍速</a></li>
                            <li><a class="dropdown-item" href="#" data-speed="0.3">0.3倍速</a></li>
                            <li><a class="dropdown-item" href="#" data-speed="0.1">0.1倍速</a></li>
                      </ul>
                    </div>
                    <button id="togetherplay" onclick="togetherplay()" class="btn btn-primary" style="margin:20px;" disabled>同时播放</button>
                    <button id="handreplay" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" class="btn btn-primary" style="margin:20px;" disabled>手部姿态</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card custom-card-border" style="width: 100%; height: 100%;">
            <div class="card-body">
                <h5 class="card-title">标准动作演示</h5>
                <div class="underline bg-primary-subtle"></div>
            </div>
            <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; height: 100%;">
                <video id="stdvideo" class="card-img-top" style="width: 100%; height:100%; object-fit:contain;" controls></video>
                <div style="display: flex;width: 100%; justify-content: center;">
<!--                    <button id="realplay" onclick="playVideo()" class="btn btn-primary" style="margin-left:20px;" disabled>-->
<!--                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">-->
<!--                            <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>-->
<!--                        </svg>-->
<!--                    </button>-->
<!--                    <button id="realstop" onclick="stopVideo()" class="btn btn-primary" style="margin-left:20px;" disabled>-->
<!--                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pause-fill" viewBox="0 0 16 16">-->
<!--                            <path d="M5.5 3.5A1.5 1.5 0 0 1 7 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5zm5 0A1.5 1.5 0 0 1 12 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5z"/>-->
<!--                        </svg>-->
<!--                    </button>-->
                    <div class="btn-group">
                      <button id="stdspeed" type="button" class="btn btn-primary dropdown-toggle" style="margin:20px;" data-bs-toggle="dropdown" aria-expanded="false">
                          1倍速
                      </button>
                      <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" stddata-speed="1">1倍速</a></li>
                            <li><a class="dropdown-item" href="#" stddata-speed="0.7">0.7倍速</a></li>
                            <li><a class="dropdown-item" href="#" stddata-speed="0.5">0.5倍速</a></li>
                            <li><a class="dropdown-item" href="#" stddata-speed="0.3">0.3倍速</a></li>
                            <li><a class="dropdown-item" href="#" stddata-speed="0.1">0.1倍速</a></li>
                      </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center" style="padding: 20px;width: 100%; height: 680px;">
    <div class="col-4">
        <div class="card custom-card-border" style="width: 100%; height: 100%;">
            <div class="card-body">
                <h5 class="card-title">分析报告</h5>
                <div class="underline bg-primary-subtle"></div>
            </div>
            <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; height: 100%;">
<!--                <p id="textElement"></p>-->
                <div id="textElement" class="d-flex flex-column justify-content-center align-items-center" style="width: 100%; height:100%;">
                    <div class="spinner-border text-secondary m-3" role="status"></div>
                    <span>分析报告生成中...</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card custom-card-border" style="width: 100%; height: 100%;">
            <div class="card-body">
                <h5 class="card-title">关节角度趋势</h5>
                <div class="underline bg-primary-subtle"></div>
            </div>
                <div id="chart-container" class="d-flex flex-column justify-content-center align-items-center" style="width: 100%; height:100%;">
                    <div class="spinner-border text-secondary m-3" role="status"></div>
                    <span>请等待视频分析结束...</span>
                </div>
        </div>
      </div>
    <div class="col-4">
        <div class="card custom-card-border" style="width: 100%; height: 100%;">
            <div class="card-body">
                <h5 class="card-title">指腕踝高度趋势</h5>
                <div class="underline bg-primary-subtle"></div>
            </div>
                <div id="height-chart-container" class="d-flex flex-column justify-content-center align-items-center" style="width: 100%; height:100%;">
                    <div class="spinner-border text-secondary m-3" role="status"></div>
                    <span>请等待视频分析结束...</span>
                </div>
        </div>
      </div>
</div>

<div class="row" style="padding: 20px; width: 100%; height: 680px;">
    <div class="col-3">
        <div class="card custom-card-border" style="width: 100%; height: 100%;">
            <div class="card-body">
                <h5 class="card-title">篮球轨迹</h5>
                <div class="underline bg-primary-subtle"></div>
            </div>
            <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; height: 100%;">
                <div id="track-container" class="d-flex flex-column justify-content-center align-items-center" style="width: 100%; height:100%;">
                    <div class="spinner-border text-secondary m-3" role="status"></div>
                    <span>正在绘制中...</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card custom-card-border" style="width: 100%; height: 100%;">
            <div class="card-body">
                <h5 class="card-title">身体轴线轨迹</h5>
                <div class="underline bg-primary-subtle"></div>
            </div>
            <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; height: 100%;">
                <div id="bodytrack-container" class="d-flex flex-column justify-content-center align-items-center" style="width: 100%; height:100%;">
                    <div class="spinner-border text-secondary m-3" role="status"></div>
                    <span>正在绘制中...</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card custom-card-border" style="width: 100%; height: 100%;">
            <div class="card-body">
                <h5 class="card-title">手腕轨迹</h5>
                <div class="underline bg-primary-subtle"></div>
            </div>
            <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; height: 100%;">
                <div id="wristtrack-container" class="d-flex flex-column justify-content-center align-items-center" style="width: 100%; height:100%;">
                    <div class="spinner-border text-secondary m-3" role="status"></div>
                    <span>正在绘制中...</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card custom-card-border" style="width: 100%; height: 100%;">
            <div class="card-body">
                <h5 class="card-title">手肘轨迹</h5>
                <div class="underline bg-primary-subtle"></div>
            </div>
            <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; height: 100%;">
                <div id="elbowtrack-container" class="d-flex flex-column justify-content-center align-items-center" style="width: 100%; height:100%;">
                    <div class="spinner-border text-secondary m-3" role="status"></div>
                    <span>正在绘制中...</span>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-12">
        <div class="card custom-card-border" style="width: 100%; height: 100%;">
            <div class="card-body">
                <h5 class="card-title">数据结果</h5>
                <div class="underline bg-primary-subtle"></div>
            </div>
            <div class="d-flex flex-column" style="height: 100%;">
                <div class="flex-fill" style="height: 100%;">
                    <ul class="list-group list-group-horizontal d-flex" style="height: 100%;">
                        <li class="list-group-item flex-fill" style="height: 100%;">
                            <div class="stat-item">
                                <div class="statname-container">
                                    <div class="stat-name">最小手肘角度</div>
                                    <div class="long-underline bg-primary-subtle"></div>
                                </div>
                                <div class="num-container">
                                    <div class="stat-num d-flex align-items-center">
                                        <p id="elbow_min_angle" class="fs-5">---°</p>
                                    </div>
                                    <div class="stat-score d-flex align-items-center">
                                        <p id="elbow_min_angle_score" class="fs-7 fst-italic">待评价</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item flex-fill">
                            <div class="stat-item">
                                <div class="statname-container">
                                    <div class="stat-name">最大手肘角度</div>
                                    <div class="long-underline bg-primary-subtle"></div>
                                </div>
                                <div class="num-container">
                                    <div class="stat-num d-flex align-items-center">
                                        <p id="elbow_max_angle" class="fs-5">---°</p>
                                    </div>
                                    <div class="stat-score d-flex align-items-center">
                                        <p id="elbow_max_angle_score" class="fs-7 fst-italic">待评价</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item flex-fill">
                            <div class="stat-item">
                                <div class="statname-container">
                                    <div class="stat-name">投篮手肘角度</div>
                                    <div class="long-underline bg-primary-subtle"></div>
                                </div>
                                <div class="num-container">
                                    <div class="stat-num d-flex align-items-center">
                                        <p id="release_elbow_angle" class="fs-5">---°</p>
                                    </div>
                                    <div class="stat-score d-flex align-items-center">
                                        <p id="release_elbow_angle_score" class="fs-7 fst-italic">待评价</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item flex-fill">
                            <div class="stat-item">
                                <div class="statname-container">
                                    <div class="stat-name">手肘伸展时间</div>
                                    <div class="long-underline bg-primary-subtle"></div>
                                </div>
                                <div class="num-container">
                                    <div class="stat-num d-flex align-items-center">
                                        <p id="elbow_time_diff" class="fs-5">---秒</p>
                                    </div>
                                    <div class="stat-score d-flex align-items-center">
                                        <p id="elbow_time_diff_score" class="fs-7 fst-italic">待评价</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="flex-fill" style="height: 100%;">
                    <ul class="list-group list-group-horizontal d-flex" style="height: 100%;">
                        <li class="list-group-item flex-fill">
                            <div class="stat-item">
                                <div class="statname-container">
                                    <div class="stat-name">最小手腕角度</div>
                                    <div class="long-underline bg-primary-subtle"></div>
                                </div>
                                <div class="num-container">
                                    <div class="stat-num d-flex align-items-center">
                                        <p id="wrist_min_angle" class="fs-5">---°</p>
                                    </div>
                                    <div class="stat-score d-flex align-items-center">
                                        <p id="wrist_min_angle_score" class="fs-7 fst-italic">待评价</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item flex-fill">
                            <div class="stat-item">
                                <div class="statname-container">
                                    <div class="stat-name">最大手腕角度</div>
                                    <div class="long-underline bg-primary-subtle"></div>
                                </div>
                                <div class="num-container">
                                    <div class="stat-num d-flex align-items-center">
                                        <p id="wrist_max_angle" class="fs-5">---°</p>
                                    </div>
                                    <div class="stat-score d-flex align-items-center">
                                        <p id="wrist_max_angle_score" class="fs-7 fst-italic">待评价</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item flex-fill">
                            <div class="stat-item">
                                <div class="statname-container">
                                    <div class="stat-name">投篮手腕角度</div>
                                    <div class="long-underline bg-primary-subtle"></div>
                                </div>
                                <div class="num-container">
                                    <div class="stat-num d-flex align-items-center">
                                        <p id="release_wrist_angle" class="fs-5">---°</p>
                                    </div>
                                    <div class="stat-score d-flex align-items-center">
                                        <p id="release_wrist_angle_score" class="fs-7 fst-italic">待评价</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item flex-fill">
                            <div class="stat-item">
                                <div class="statname-container">
                                    <div class="stat-name">手腕变化时间</div>
                                    <div class="long-underline bg-primary-subtle"></div>
                                </div>
                                <div class="num-container">
                                    <div class="stat-num d-flex align-items-center">
                                        <p id="wrist_time_diff" class="fs-5">---秒</p>
                                    </div>
                                    <div class="stat-score d-flex align-items-center">
                                        <p id="wrist_time_diff_score" class="fs-7 fst-italic">待评价</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>


                <div class="flex-fill" style="height: 100%;">
                    <ul class="list-group list-group-horizontal d-flex" style="height: 100%;">
                        <li class="list-group-item flex-fill">
                            <div class="stat-item">
                                <div class="statname-container">
                                    <div class="stat-name">最小肩膀角度</div>
                                    <div class="long-underline bg-primary-subtle"></div>
                                </div>
                                <div class="num-container">
                                    <div class="stat-num d-flex align-items-center">
                                        <p id="shoulder_min_angle" class="fs-5">---°</p>
                                    </div>
                                    <div class="stat-score d-flex align-items-center">
                                        <p id="shoulder_min_angle_score" class="fs-7 fst-italic">待评价</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item flex-fill">
                            <div class="stat-item">
                                <div class="statname-container">
                                    <div class="stat-name">最大肩膀角度</div>
                                    <div class="long-underline bg-primary-subtle"></div>
                                </div>
                                <div class="num-container">
                                    <div class="stat-num d-flex align-items-center">
                                        <p id="shoulder_max_angle" class="fs-5">---°</p>
                                    </div>
                                    <div class="stat-score d-flex align-items-center">
                                        <p id="shoulder_max_angle_score" class="fs-7 fst-italic">待评价</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item flex-fill">
                            <div class="stat-item">
                                <div class="statname-container">
                                    <div class="stat-name">投篮肩膀角度</div>
                                    <div class="long-underline bg-primary-subtle"></div>
                                </div>
                                <div class="num-container">
                                    <div class="stat-num d-flex align-items-center">
                                        <p id="release_shoulder_angle" class="fs-5">---°</p>
                                    </div>
                                    <div class="stat-score d-flex align-items-center">
                                        <p id="release_shoulder_angle_score" class="fs-7 fst-italic">待评价</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item flex-fill">
                            <div class="stat-item">
                                <div class="statname-container">
                                    <div class="stat-name">肩膀伸展时间</div>
                                    <div class="long-underline bg-primary-subtle"></div>
                                </div>
                                <div class="num-container">
                                    <div class="stat-num d-flex align-items-center">
                                        <p id="shoulder_time_diff" class="fs-5">---秒</p>
                                    </div>
                                    <div class="stat-score d-flex align-items-center">
                                        <p id="shoulder_time_diff_score" class="fs-7 fst-italic">待评价</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="flex-fill" style="height: 100%;">
                    <ul class="list-group list-group-horizontal d-flex" style="height: 100%;">
                        <li class="list-group-item flex-fill">
                            <div class="stat-item">
                                <div class="statname-container">
                                    <div class="stat-name">最小膝盖角度</div>
                                    <div class="long-underline bg-primary-subtle"></div>
                                </div>
                                <div class="num-container">
                                    <div class="stat-num d-flex align-items-center">
                                        <p id="knee_min_angle" class="fs-5">---°</p>
                                    </div>
                                    <div class="stat-score d-flex align-items-center">
                                        <p id="knee_min_angle_score" class="fs-7 fst-italic">待评价</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item flex-fill">
                            <div class="stat-item">
                                <div class="statname-container">
                                    <div class="stat-name">最大膝盖角度</div>
                                    <div class="long-underline bg-primary-subtle"></div>
                                </div>
                                <div class="num-container">
                                    <div class="stat-num d-flex align-items-center">
                                        <p id="knee_max_angle" class="fs-5">---°</p>
                                    </div>
                                    <div class="stat-score d-flex align-items-center">
                                        <p id="knee_max_angle_score" class="fs-7 fst-italic">待评价</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item flex-fill">
                            <div class="stat-item">
                                <div class="statname-container">
                                    <div class="stat-name">投篮膝盖角度</div>
                                    <div class="long-underline bg-primary-subtle"></div>
                                </div>
                                <div class="num-container">
                                    <div class="stat-num d-flex align-items-center">
                                        <p id="release_knee_angle" class="fs-5">---°</p>
                                    </div>
                                    <div class="stat-score d-flex align-items-center">
                                        <p id="release_knee_angle_score" class="fs-7 fst-italic">待评价</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item flex-fill">
                            <div class="stat-item">
                                <div class="statname-container">
                                    <div class="stat-name">膝盖伸展时间</div>
                                    <div class="long-underline bg-primary-subtle"></div>
                                </div>
                                <div class="num-container">
                                    <div class="stat-num d-flex align-items-center">
                                        <p id="knee_time_diff" class="fs-5">---秒</p>
                                    </div>
                                    <div class="stat-score d-flex align-items-center">
                                        <p id="knee_time_diff_score" class="fs-7 fst-italic">待评价</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                    <div class="flex-fill" style="height: 100%;">
                        <ul class="list-group list-group-horizontal d-flex" style="height: 100%;">
                            <li class="list-group-item flex-fill">
                                <div class="stat-item">
                                    <div class="statname-container">
                                        <div class="stat-name">最小脚踝角度</div>
                                        <div class="long-underline bg-primary-subtle"></div>
                                    </div>
                                    <div class="num-container">
                                        <div class="stat-num d-flex align-items-center">
                                            <p id="ankle_min_angle" class="fs-5">---°</p>
                                        </div>
                                        <div class="stat-score d-flex align-items-center">
                                            <p id="ankle_min_angle_score" class="fs-7 fst-italic">待评价</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item flex-fill">
                                <div class="stat-item">
                                    <div class="statname-container">
                                        <div class="stat-name">最大脚踝角度</div>
                                        <div class="long-underline bg-primary-subtle"></div>
                                    </div>
                                    <div class="num-container">
                                        <div class="stat-num d-flex align-items-center">
                                            <p id="ankle_max_angle" class="fs-5">---°</p>
                                        </div>
                                        <div class="stat-score d-flex align-items-center">
                                            <p id="ankle_max_angle_score" class="fs-7 fst-italic">待评价</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item flex-fill">
                                <div class="stat-item">
                                    <div class="statname-container">
                                        <div class="stat-name">投篮脚踝角度</div>
                                        <div class="long-underline bg-primary-subtle"></div>
                                    </div>
                                    <div class="num-container">
                                        <div class="stat-num d-flex align-items-center">
                                            <p id="release_ankle_angle" class="fs-5">---°</p>
                                        </div>
                                        <div class="stat-score d-flex align-items-center">
                                            <p id="release_ankle_angle_score" class="fs-7 fst-italic">待评价</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item flex-fill">
                                <div class="stat-item">
                                    <div class="statname-container">
                                        <div class="stat-name">脚踝伸展时间</div>
                                        <div class="long-underline bg-primary-subtle"></div>
                                    </div>
                                    <div class="num-container">
                                        <div class="stat-num d-flex align-items-center">
                                            <p id="ankle_time_diff" class="fs-5">---秒</p>
                                        </div>
                                        <div class="stat-score d-flex align-items-center">
                                            <p id="ankle_time_diff_score" class="fs-7 fst-italic">待评价</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>


            <div class="flex-fill" style="height: 100%;">
                <ul class="list-group list-group-horizontal d-flex" style="height: 100%;">
                    <li class="list-group-item flex-fill">
                        <div class="stat-item">
                            <div class="statname-container">
                                <div class="stat-name">上下肢发力时间差</div>
                                <div class="long-underline bg-primary-subtle"></div>
                            </div>
                            <div class="num-container">
                                <div class="stat-num d-flex align-items-center">
                                    <p id="time_diff" class="fs-5">---秒</p>
                                </div>
                                <div class="stat-score d-flex align-items-center">
                                    <p id="time_diff_score" class="fs-7 fst-italic">待评价</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item flex-fill">
                        <div class="stat-item">
                            <div class="statname-container">
                                <div class="stat-name">发球加速度/厘米每秒平方</div>
                                <div class="long-underline bg-primary-subtle"></div>
                            </div>
                            <div class="num-container">
                                <div class="stat-num d-flex align-items-center">
                                    <p id="ball_speed" class="fs-5">---</p>
                                </div>
                                <div class="stat-score d-flex align-items-center">
                                    <p id="ball_speed_score" class="fs-7 fst-italic">待评价</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item flex-fill">
                        <div class="stat-item">
                            <div class="statname-container">
                                <div class="stat-name">脚尖落点距离/厘米</div>
                                <div class="long-underline bg-primary-subtle"></div>
                            </div>
                            <div class="num-container">
                                <div class="stat-num d-flex align-items-center">
                                    <p id="foot_dis" class="fs-5">---</p>
                                </div>
                                <div class="stat-score d-flex align-items-center">
                                    <p id="foot_dis_score" class="fs-7 fst-italic">待评价</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>


            </div>
        </div>

    </div>
    </div>
  </div>
</div>
</body>
<script>
    var videoUrl = "{{ url_for('static', filename='videos/output_std_video.mp4') }}"
    var realvideoUrl = "{{ url_for('static', filename='videos/output_pose_video.mp4') }}"
    var realhandUrl = "{{ url_for('static', filename='videos/output_hand_video.mp4') }}"
    var stdhandUrl = "{{ url_for('static', filename='videos/output_stdhand_video.mp4') }}"
</script>
<script src="../static/js/shooting_pose_analysis.js" crossorigin="anonymous"></script>
</html>